name: Build and Push Docker Image

on:
    push:
        branches:
            - main
        tags:
            - "[0-9]+.[0-9]+.[0-9]+"
    pull_request:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Extract Docker image metadata
              id: meta
              uses: docker/metadata-action@v5
              with:
                  images: ${{ secrets.DOCKER_USERNAME }}/hytale-downloader
                  tags: |
                    type=pep440,pattern={{version}}
                    type=raw,value=latest,enable={{is_default_branch}}

            - name: Log in to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}
            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build and push Docker image
              uses: docker/build-push-action@v6
              with:
                  platforms: linux/amd64
                  push: ${{ github.event_name != 'pull_request' }}
                  tags: ${{ steps.meta.outputs.tags }}
                  build-args: |
                      HYTALE_DOWNLOADER_URL=${{ vars.HYTALE_DOWNLOADER_URL }}
                      IMAGE_VERSION=${{ steps.meta.outputs.version }}
                  annotations: ${{ steps.meta.outputs.annotations }}
                  provenance: true
                  sbom: true
